.container {
  max-width: 1280px;
  margin: 0 auto;
}

.perfectCompanion {
  margin-top: 70px;
  text-align: center;
  width: 100%;

  h3 {
    color: #585858;
    font-size: 28px;
    text-transform: none;
    background: url("/images/heading-bg.png") 50% 50% repeat-x;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    span {
      background: #fff;
      display: inline-block;
      height: 100%;
      padding: 0 25px;
    }
  }
}
