.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;

  background: url("/images/back.png") 50% 50% repeat-x;

  h2 {
    margin-bottom: 2.5rem;
  }
}

.border {
  z-index: 999;
  background-color: #fff;
  display: flex;
  border: 0.2rem solid #edddce;
  border-radius: 1rem;
  padding: 3rem;

  @media (max-width: 720px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.WrapperImage {
  margin-right: 2rem;

  img {
    border-radius: 0.2rem;
  }
}

.about {
  @media (max-width: 720px) {
    padding-top: 2rem;

    .button {
      margin-top: 2rem;
    }
  }
  ul {
    li {
      display: flex;
      align-items: center;

      list-style: none;
      margin: 0.5rem 0;
      font-size: 1.2rem;
      font-family: "Roboto", sans-serif;
      span {
        margin: 0 0.5rem;
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  margin-top: 9.5rem;

  a {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
