.title {
  margin: 5rem 0;

  p {
    padding: 0 50px;
  }
}

.prices {
  background: url("/images/back.png") 50% 50% repeat-x;

  // height: 450px;
  margin: 50px 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.row {
  display: flex;
  justify-content: space-around;

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: center;
  }
}

#center {
  @media (max-width: 720px) {
    margin: 20px 0;
  }
}

.costs {
  width: 250px;
  border-radius: 0.2rem;

  div {
    background: #fff;
    border: 0.1rem solid #edddce;
    box-sizing: border-box;

    text-align: center;
    left: 0 !important;
    padding-bottom: 20px;

    z-index: 2;

    h4 {
      font-size: 1.2rem;
      font-weight: 700;
      color: #808080;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      background: #f6f6f6;
      display: block;
      margin-bottom: 20px;
      padding: 20px 0 20px;
      border-radius: 3px 3px 0 0;
    }

    p {
      margin: 0 20px 10px;
      color: #808080;
      font-weight: 400;

      font-family: Roboto, sans-serif;
    }

    button {
      margin-top: 1rem;
      color: #b76719;
      border: 2px solid #edddce;
      letter-spacing: 3px;
      background: 0 0;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      text-transform: uppercase;
      font-size: 12px;
      padding: 8px 12px;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
