.container {
  display: flex;

  border-radius: 0.2rem;

  img {
    border-radius: 0.2rem;

    object-fit: cover;
  }
}

.infos {
  border-radius: 0.2rem;

  background: #f6f6f6;
  width: 300px;
  height: 250px;
  padding-top: 0.8rem;

  div {
    padding-left: 0.4rem;
  }

  span {
    margin-left: 0.3rem;
  }
}

.infosFirst {
  padding-top: 1rem;
}

.infosCenter {
  padding: 1.2rem;
}
.containerButton {
  display: flex;
  justify-content: center;
}
