.containerFooter {
  background: var(--gray-900);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 4.5rem 0 0;

  margin: 0 auto;
  max-width: 1280px;

  background: var(--gray-900);
}

.firstColumnWrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25%;
}

.copyRigth {
  div {
    border-top: 0.1rem solid #4a4f53;
    padding-top: 2rem;
    display: flex;

    p {
      color: #fff;
    }
  }

  padding-bottom: 5rem;
}
